body{
    background-color: aqua;
}
.main{
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    height: 50vh;
    width: 30vw;
    border-radius: 20px;
    padding: 20px;
    background-color: cornflowerblue;
    box-shadow: 0px 0px 20px black;
}
.heading{
    display: flex;
    margin: 0vh auto;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'cambria';
}
.inputDiv{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.inputBox{
    display: flex;
    width: 15vw;
    height: 5vh;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-family: 'calibri';
    border: none;
    outline: none;
    border-radius: 5px;
}
.inputBox:hover{
    background-color: rgb(238, 238, 238);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 15px auto;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(1, 1, 177);
    color: white;
    cursor: pointer;
    font-family: 'calibri';
    transition: 0.2s;
}
.btn:hover{
    background-color: blue;
    transform: scale(1.03);
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
}
.tableMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
}
.tbody{
    text-align: center;
    box-shadow: 0px 0px 5px black;
}
.tableHeading{
    font-size: 25px;
    font-weight: bold;
    font-family: 'cambria';
    color: rgb(68, 0, 0);
    background-color: lightskyblue;
}
.tableData{
    font-size: 20px;
    font-family: 'calibri';
    background-color: rgb(54, 120, 244);
    color: white;
}